<!-- 共通部分を書いています -->

<!-- ユーザーインフォ -->
  <!-- フラッシュメッセージ -->
  <div class="flash-message"><%= flash[:notice] %></div>
  <!-- エラーメッセージ -->
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <!-- エラーここまで -->

  <div class="col-xs-3">
    <h2>User info</h2>
    <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', class:"profile-image", fallback:"no_image.jpg", :size => '100x100' %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <!-- 自ユーザーの時のみ編集ボタン表示 -->
      <% if current_user.id == user.id %>
        <%= link_to edit_user_path(user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" do %>
          <div></div>
        <% end %>
      <% end %>
    </div>

<!-- 新規追加 -->
    <h2>New book</h2>
    <%= form_for(book) do |f| %>
      <div class="field row">
        <p>Title</p>
        <%= f.text_field :title, class:"col-xs-12 book_title", placeholder:"タイトル" %>
      </div>
      <div class="field row">
        <p>Opinion</p>
        <%= f.text_area :body, class:"col-xs-12 book_body", placeholder:"感想" %>
      </div>
      <div class="row">
        <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
      </div>
    <% end %>
  </div>
