<!-- 共通部分を書いています -->

<!-- ユーザーインフォ -->
  <!-- フラッシュメッセージ -->
  <div class="flash-message"><%= flash[:notice] %></div>
  <!-- エラーメッセージ -->
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <!-- エラーここまで -->
  <div class="col-xs-3">
    <h2>User info</h2>
    <table>
      <tbody>
        <tr>
          <th><%= attachment_image_tag user, :image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback:"no_image.jpg" %></th>
        </tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th>
            <div class="row">
              <!-- 自ユーザーの時のみ編集ボタン表示 -->
              <% if current_user.id == user.id %>
                <%= link_to "Setting", edit_user_path(user.id), class:"edit_user_#{user.id}" %>
              <% end %>
            </div>
          </th>
        </tr>
      </tbody>
    </table>

<!-- 新規追加 -->
    <%= form_for(book) do |f| %>
      <h2>New book</h2>
      <div class="title-area">
        <p>Title</p>
        <%= f.text_field :title, class:"book-title", placeholder:"タイトル" %>
      </div>
      <div class="opinion-area">
        <p>Opinion</p>
        <%= f.text_field :body, class:"book-body", placeholder:"感想" %>
      </div>
      <%= f.submit 'Create Book', class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    <% end %>
  </div>
