<div class="container">
<!-- 共通部分 -->
  <%= render 'books/list', book:@new_book, user:@user %>

<!-- 詳細情報 -->
  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <div>
              <%= attachment_image_tag @book.user, :image, :fill, 50, 50, format: 'jpeg', class:"profile-image", fallback:"no_image.jpg", :size => '50x50' %><br>
              <%= link_to @user.name, user_path(@book.user.id), class:"user_#{@user.id}" %>
            </div>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <!-- 自ユーザーの時のみ編集・削除ボタン表示 -->
          <% if current_user.id == @book.user.id %>
            <td>
              <%= link_to "Edit", edit_book_path(@book.id), class:"btn-sm btn-success edit_book_#{@book.id}" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn-sm btn-danger destroy_book_#{@book.id}" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>